*.20??????
*.box
*.iml
*~
.*.sw?
.DS_Store
.idea/*
.project
/.vagrant
/boxes/*
/httpdocs
/parallels/box.pvm/*.app
/parallels/box.pvm/*.hdd
/parallels/box.pvm/*.log
/tmp
/vagrant-spec.config.rb
/virtualbox/*-prev
/virtualbox/*.vmdk
/virtualbox/Logs
