*.20??????
*.box
*.iml
*~
.*.sw?
.DS_Store
/.project/
/.idea/
/.vagrant/
/boxes/*
/httpdocs/
/parallels/box.pvm/*.app
/parallels/box.pvm/*.hdd
/parallels/box.pvm/*.log
/parallels/box.pvm/*.backup
/tmp/
/vagrant-spec.config.rb
/virtualbox.vmwarevm/*-prev
/virtualbox.vmwarevm/*.vmdk
/virtualbox.vmwarevm/Logs/
/virtualbox.vmwarevm/*.log
/virtualbox.vmwarevm/*.plist
/virtualbox.vmwarevm/quicklook-cache.png
/virtualbox.vmwarevm/magehostdev.pro.vmx.lck
/old/*
!/old/.gitignore
