[client]
default-character-set           = utf8
port                            = 3306
socket                          = /var/run/mysqld/mysqld.sock

[isamchk]
key_buffer                      = 16M
read_buffer_size                = 2M
sort_buffer_size                = 128M
write_buffer_size               = 2M

[mysqld_safe]
log-error                       = /var/log/mysql/error.log
nice                            = 0
socket                          = /var/run/mysqld/mysqld.sock

[mysqldump]
max_allowed_packet              = 16M
quick                           = ON
quote-names                     = ON

[mysqlhotcopy]
interactive-timeout             = ON

[mysqld]
basedir                         = /usr
bind-address                    = 0.0.0.0
character-set-server            = utf8
collation-server                = utf8_unicode_ci
connect_timeout                 = 120
datadir                         = /var/lib/mysql
expire_logs_days                = 1
explicit_defaults_for_timestamp = ON
ft_min_word_len                 = 2
innodb_buffer_pool_size         = 2G      # Can be overridden in conf.d/server.cnf
innodb_concurrency_tickets      = 900
innodb_flush_log_at_trx_commit  = 1
innodb_flush_method             = O_DIRECT
innodb_io_capacity              = 800
innodb_lock_wait_timeout        = 75
innodb_log_buffer_size          = 16M
innodb_log_file_size            = 256M
innodb_open_files               = 60000
innodb_thread_concurrency       = 48
interactive_timeout             = 150
join_buffer_size                = 32M
key_buffer_size                 = 100M
lc-messages-dir                 = /usr/share/mysql
log_error                       = /var/log/mysql/error.log
long_query_time                 = 3
max_allowed_packet              = 1024M
max_connect_errors              = 999999999
max_connections                 = 4096
max_heap_table_size             = 1G
myisam_sort_buffer_size         = 64M
myisam-recover-options          = BACKUP
open_files_limit                = 60000
pid-file                        = /var/run/mysqld/mysqld.pid
port                            = 3306
query_alloc_block_size          = 16384
query_cache_limit               = 2M
query_cache_size                = 128M
query_cache_type                = 1
query_prealloc_size             = 16384
read_buffer_size                = 4M
read_rnd_buffer_size            = 4M
replicate_ignore_db             = mysql
skip-external-locking           = ON
slow-query-log                  = ON
slow-query-log-file             = /var/log/mysql/mysql-slow.log
socket                          = /var/run/mysqld/mysqld.sock
sort_buffer_size                = 8M
table_open_cache                = 20000
thread_cache_size               = 512
thread_stack                    = 192K
tmp_table_size                  = 1G
tmpdir                          = /tmp
transaction-isolation           = READ-COMMITTED
user                            = mysql
userstat                        = ON
wait_timeout                    = 28800

!includedir /etc/mysql/conf.d/
